@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .chinese-text {
    font-family: "Noto Serif SC", serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
